@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2dd4bf;
  --surface: #ffffff;
  --text: #0f172a;
}

body {
  @apply antialiased bg-slate-50 text-slate-900;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #10b981 #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 20px;
}