@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #45D1C1;
  --theme-from: #45D1C1;
  --theme-to: #3BC1B1;
  --surface: #ffffff;
  --text: #0f172a;
}

body {
  @apply antialiased bg-slate-50 text-slate-900;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-from) #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--theme-from);
  border-radius: 20px;
}

.theme-gradient {
  background-color: var(--primary);
}

.theme-gradient:hover {
  background-color: var(--theme-to);
}